@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/* Registration Form Styles */


.form {
  margin: 50px auto;
  width: 300px;
  padding: 30px 25px;
  background: white;
}
h1.login-title {
  color: #666;
  margin: 0px auto 25px;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}
.login-input {
  font-size: 15px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 25px;
  height: 25px;
  width: calc(100% - 23px);
}
.login-input:focus {
  border-color:#6e8095;
  outline: none;
}
.login-button {
  color: #fff;
  background: #712177;
  border: 0;
  outline: 0;
  width: 100%;
  height: 50px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.link {
  color: #666;
  font-size: 15px;
  text-align: center;
  margin-bottom: 0px;
}
.link a {
  color: #666;
}
h3 {
  font-weight: normal;
  text-align: center;
}

/* Top Styles */
#top {
  padding: 10px 0;
  /* background: #333333; */
  background: #712177;
}

#top .offer{
  color: #ffffff;
}

#top a{
  color: #ffffff;
}

#top ul.menu{
  padding-top: 5px;
  margin: 0px;
  text-align: right;
  font-size: 16px;
  list-style: none;
}
@media (max-width: 768px) {
  #top .col-md-6{
    width: 50%;
  }
}

/* Sidebar and Content Styles */
.wrapper{
  display: flex;
  width: 100%;
  align-items: stretch;
}
.wrapper .content1{
  padding: 10px;
}
#sidebar{
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}
#sidebar .active{
  margin-left: -250px;
}
@media (max-width: 768px) {
  #sidebar{
    margin-left: -250px;
  }
  #sidebar .active{
    margin-left: 0;
  }
}
#sidebar .sidebar-header {
  padding: 20px;
  /* background: #6d7fcc; */
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

/* Copyright styles */

#copyright{
  background: #333333;
  color: #cccccc;
  padding: 20px 0px;
  font-size: 12px;
}
#copyright p{
  margin: 0px;
}

